[Unit]
Description=RClone Service
AssertPathIsDirectory=/DATA/FUSE/Rclone
PartOf=media.service
After=media.service
[Service]
Type=simple
ExecStart=/usr/bin/ionice -c 2 -n 0 -t /usr/bin/rclone mount gdrive: /RAID/FUSE/mergerfs/gdrive \
   --allow-other \
   --dir-cache-time=160h \
   --cache-chunk-size=10M \
   --cache-chunk-total-size=10G \
   --cache-info-age=168h \
   --cache-workers=6 \
   --attr-timeout=1s \
   --cache-tmp-upload-path /RAID/tempStorage/rclone_tmp_upload \
   --modify-window 1s \
   --drive-use-trash=false \
   --cache-chunk-path /home/plex/.cache/rclone/cache-backend \
   --cache-db-path /home/plex/.cache/rclone/cache-backend \
   --cache-dir /home/plex/.cache/rclone \
   --cache-tmp-wait-time 15m \
   --config /home/plex/.config/rclone/rclone.conf \
   --buffer-size=0M \
   --daemon-timeout=10m \
   --tpslimit 5 \
   --syslog \
   --umask 002 \
   --rc \
   --log-level INFO
ExecStop=/bin/fusermount -uz /RAID/FUSE/mergerfs/gdrive
Restart=on-abort
User=plex
Group=plex
[Install]
WantedBy=media.service
